.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/compiler.xml
.idea/gradle.xml
.idea/vcs.xml
DamageCalculator.iml
app/app.iml
DamageCalculator.iml
app/app.iml
